{% extends "framework.html" %}
{% block content %}
    <div class="row clearfix">
        <div class="col-md-2 column">
                <h3 class="text-primary text-center">
                    <strong>FIFA DATABASE</strong>
                </h3>
                <ul class="nav flex-colomn nav-fill nav-pills justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.issue') }}">Player register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.query') }}">Player search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('admin.league') }}">League Information</a>
                    </li>
                </ul>
            </div>
        <div class="col-10">
            <div class="row">
                <div class="col-10">
                    <div class="container">
                        <h4 class="text-primary">
                            <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                <path fill-rule="evenodd"
                                      d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                            </svg>
                            <strong>League Information</strong>
                        </h4>
                        <p>Input whatever you want</p>
                    </div>
                    <div class="dropdown-divider"></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-6 offset-md-2">
                    <div class="container">
                        <form action="{{ url_for('admin.league') }}" method="post">
                            <div class="form-group">
                                <label for="inputState">league</label>
                                <select id="inputState" class="form-control" name="league_id">
                                    <option selected></option>
                                    <option value=0>Spain Primera Division</option>
                                    <option value=1>German 1. Bundesliga</option>
                                    <option value=2>French Ligue 1</option>
                                    <option value=3>English Premier League</option>
                                    <option value=4>Italian Serie A</option>
                                    <option value=5>Turkish Süper Lig</option>
                                    <option value=6>Russian Premier League</option>
                                    <option value=7>Portuguese Liga ZON SAGRES</option>
                                    <option value=9>Danish Superliga</option>
                                    <option value=10>USA Major League Soccer</option>
                                    <option value=11>Ukrainian Premier League</option>
                                    <option value=12>Mexican Liga MX</option>
                                    <option value=13>Australian Hyundai A-League</option>
                                    <option value=14>Holland Eredivisie</option>
                                    <option value=15>Greek Super League</option>
                                    <option value=16>Spanish Segunda División</option>
                                    <option value=17>Korean K League Classic</option>
                                    <option value=18>Argentina Primera División</option>
                                    <option value=19>English League Championship</option>
                                    <option value=20>Saudi Abdul L. Jameel League</option>
                                    <option value=21>Austrian Football Bundesliga</option>
                                    <option value=22>South African Premier Divisionpermier league</option>
                                    <option value=23>Scottish Premiership</option>
                                    <option value=24>Belgian Jupiler Pro League</option>
                                    <option value=25>Swiss Super League</option>
                                    <option value=26>German 2. Bundesliga</option>
                                    <option value=27>Chilian Campeonato Nacional</option>
                                    <option value=28>Colombian Liga Postobón</option>
                                    <option value=29>Norwegian Eliteserien</option>
                                    <option value=30>Italian Serie B</option>
                                    <option value=31>Polish T-Mobile Ekstraklasa</option>
                                    <option value=32>Swedish Allsvenskan</option>
                                    <option value=33>French Ligue 2</option>
                                    <option value=34>Scottish Championship</option>
                                    <option value=35>English League One</option>
                                    <option value=36>English League Two</option>
                                    <option value=37>Rep. Ireland Airtricity League</option>
                                    <option value=38>Campeonato Brasileiro Série A</option>
                                    <option value=39>Campeonato Brasileiro Série B</option>
                                    <option value=40>Japanese J. League Division 1</option>
                                    <option value=41>Finnish Veikkausliiga</option>
                                    <option value=42>Czech Republic Gambrinus Liga</option>
                                    <option value=43>German 3. Bundesliga</option>
                                    <option value=44>Chinese Super League</option>
                                    <option value=45>Croatian Prva HNL</option>
                                    <option value=46>Rest of World</option>
                                    <option value=47>Romanian Liga I</option>
                                    <option value=48>Uruguayan Primera División</option>
                                    <option value=49>Paraguayan Primera División</option>
                                    <option value=50>UAE Arabian Gulf League</option>
                                    <option value=51>Ecuadorian Serie A</option>
                                    <option value=52>Peruvian Primera División</option>
                                    <option value=53>Argentinian Primera B Nacional</option>
                                    <option value=54>Liga de Fútbol Profesional Boliviano</option>
                                    <option value=55>Venezuelan Primera División</option>
                                </select>
                            </div> 
                            <div class="form-group">
                                <label for="inputState">season</label>
                                <select id="inputState" class="form-control" name="season">
                                <option selected></option>
                                <option value="14/15">14/15</option>
                                <option value="15/16">15/16</option>
                                <option value="16/17">16/17</option>
                                <option value="17/18">17/18</option>
                                <option value="18/19">18/19</option>
                                <option value="19/20">19/20</option>
                                <option value="20/21">20/21</option>
                                <option value="21/22">21/22</option>
                                <option value="22/23">22/23</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputText">Club-name</label>
                                <input type="text" class="form-control" name="club_name">
                            </div>
                            <button type="submit" class="btn btn-fresh btn-block">check</button>
                            {% if borrowed_book !="" %}
                                <div class="clearfix"></div>
                                <div class="col-10">
                                    <table class="table table-striped">
                                    <thead>
                                    <tr>
                                    <th scope="col">league_id</th>
                                    <th scope="col">season</th>
                                    <th scope="col">league_name</th>
                                    <th scope="col">country_region_name</th> 
                                    <th scope="col">club_name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for t in borrowed_book %}
                                        <tr>
                                            <td>{{ t.league_id }}</td>
                                            <td>{{ t.season }}</td>
                                            <td>{{ t.league_name }}</td>
                                            <td>{{ t.country_region_name }}</td>
                                            <td>{{ t.club_name }}</td>
                                            
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    </table>
                                </div>
                            {% endif %}

                            
                        </form>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
